/* CSTU & student id start */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 30px;
        background-color: #1C2144 ;
    }
    .title{
        margin-left: 15px;
        color: whitesmoke;
        font-family: 'Kanit', sans-serif;
    }
    .id{
        margin-right: 15px;
        color : whitesmoke;
        font-family: 'Kanit', sans-serif;
    }
/* CSTU & student id end */


/* Menu start*/
.listmenu ul{
    list-style: none;
    background-color: #20254d;
    text-align: center;
    padding: 0;
    margin: 0;
}
.listmenu li{
    font-size: 15px;
    font-family: 'DM Serif Display', serif;
    line-height: 40px;
    text-align: left;
}
.listmenu a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding-left: 15px;
    border-bottom: none;
    transition: .3s;
}
.listmenu a:hover{
    background-color: #5e638a;
}
.listmenu li li{
    font-size: 14px;
}
/*style menu start*/
@media screen and (min-width: 300px){
    .listmenu li {
        width: 450px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        display: inline-block;
        margin-right: -4px;
    }
    .listmenu a{
        border-bottom: none;
    }
    .listmenu > ul > li{
        text-align: center;
    }
    .listmenu > ul > li > a {
        padding-left: 0px;
    }
    /*sub menu start*/
    .listmenu li ul{
        position: absolute;
        display: none;
        width: inherit;
    }
    .listmenu li:hover ul{
        display: block;
        }
    .listmenu li ul li{
        display: block;
        font-weight: lighter;
        font-family: 'Kanit', sans-serif;
    }
    /*sub menu end*/
}
/*style menu end*/
/*Menu end*/

/*Title start*/
.firstmeet{
    background-image: url("../image/Background.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
}
.fs{
    padding-top: 150px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
}
/* Title end */
/*photo&vdo zone start*/
.all{
    background-image: url("../image/advisor_bg.jpg");
    background-size: cover;
    overflow: auto;
    background-position: center;
}
/*p topic start*/
.overview {
    padding-top: 50px;
    text-align: center;
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
}
/*p topic end*/
.img07{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.overviewvdo {
    padding-top: 30px;
    text-align: center;
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
}
.vdo07{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
/*photo&vdo zone end*/